<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/discover.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/markrate-small.png" sizes="16x16" type="image/png">
    <title>Markrate | Discover</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://cdn.discordapp.com/attachments/870661503487991869/871308102329307146/unknown.png">
        </div>
        <span class="current-location"><i class="fas fa-map-marker-alt"></i>&nbsp; <%= place %></span>
        <div class="right">
            <a href="/discover" id="active"><i class="far fa-compass"></i>&nbsp; Discover</a>
            <a href="/leaderboard"><i class="fas fa-trophy"></i>&nbsp; Leaderboard</a>
            <a href="/profile"><i class="far fa-user"></i>&nbsp; Account</a>
        </div>
    </nav>
    <main>
        <div class="input">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search for local stores, restaurants" />
        </div>
        <div class="cards">
            <% for (let i=0; i < data.length; i++) { %>
                <div class="card">
                    <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&photoreference=<%= data[i].photos[0].photo_reference %>&key=<%= key %>" class="card-image">
                    <div class="card-content">
                        <p class="category"><%= data[i].types[0] %></p>
                        <p class="name"><%= data[i].name.split(',')[0] %></p>
                        <p class="address"><%= data[i].vicinity %></p>
                        <p class="header">Reviews</p>
                        <p class="review">
                            <%= data[i].rating %> stars <span style="color: #FF6600;margin-left: 0vw;">(<%= data[i].user_ratings_total %>)</span>
                        </p>
                        <p class="header">Status</p>
                        <% if (data[i].opening_hours) { %>
                            <% if (data[i].opening_hours.open_now) { %>
                                <p class="status">Open</p>
                            <% } else { %>
                                <p class="status">Closed</p>
                            <% } %>
                        <% } else { %>
                            <p class="status">Closed</p>
                        <% } %>
                        <a href="/place/<%= data[i].place_id %>?place=<%= place %>&image=https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&photoreference=<%= data[i].photos[0].photo_reference %>&key=<%= key %>"><button>View Page</button></a>
                    </div>
                </div>
            <% } %>
        </div>
    </main>
</body>
</html>