<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/place.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/markrate-small.png" sizes="16x16" type="image/png">
    <title>Markrate | Place</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://cdn.discordapp.com/attachments/870661503487991869/871308102329307146/unknown.png">
        </div>
        <span class="current-location"><i class="fas fa-map-marker-alt"></i>&nbsp; <%= place %></span>
        <div class="right">
            <a href="/discover" id="active"><i class="far fa-compass"></i>&nbsp; Discover</a>
            <a href="/leaderboard"><i class="fas fa-trophy"></i>&nbsp; Leaderboard</a>
            <a href="/profile"><i class="far fa-user"></i>&nbsp; Account</a>
        </div>
    </nav>
    <main>
        <div class="main-left">
            <img src="<%= image %>" class="card-image">
            <div class="card-content">
                <p class="name" id="bizname"><%= data.name %></p>
                <p class="address"><%= data.formatted_address %></p>
                <a href="<%= data.url %>" target="_blank"><button><i class="fas fa-map-marker-alt"></i>&nbsp; Show location</button></a>
                <p class="header">Reviews</p>
                <p class="review">
                    <%= data.rating %> stars <span style="color: #FF6600;margin-left: 0vw;">(<%= data.reviews.length %>)</span>
                </p>
                <p class="header" style="margin-top: 1.5vw;">Contact</p>
                <p class="phone-number"><i class="fas fa-phone-alt"></i>&nbsp;&nbsp; <%= data.formatted_phone_number %></p>
                <p class="phone-number"><i class="fas fa-globe"></i>&nbsp;&nbsp; <a href="<%= data.website %>" target="_blank"><%= data.website %></a></p>
                <p class="header" style="margin-top: 1.5vw;">Types</p>
                <p class="phone-number"><%= data.types[0] %>, <%= data.types[1] %></p>
            </div>
        </div>
        <div class="main-right">
            <h1>Verify Promotion</h1>
            <p>Users need to verify their promotional posts in order to get the calculated redeemable credits. These posts have to clear in their content about the promotion.</p>
            <p class="header">You can verify your promotion with:</p>
            <a href="/verify/post"><button><i class="fab fa-instagram"></i>&nbsp; Instagram Posts</button></a>
            <a href="/verify/tweet"><button><i class="fab fa-twitter"></i>&nbsp; Twitter Tweets</button></a>
        </div>
    </main>
    <script>
        window.onload = () => {
            window.localStorage.setItem('currentLocalBusiness', document.getElementById('bizname').innerHTML)
        }
    </script>
</body>
</html>